body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.text {
  color: white;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 50px;
}

.time {
  color: white;
  margin-bottom: 50px;
  -webkit-animation: animateTime linear 2s infinite;
          animation: animateTime linear 2s infinite;
}

.time .counter {
  font-size: 20px;
  color: white;
  -webkit-animation: animateTime linear 2s infinite;
          animation: animateTime linear 2s infinite;
}

@-webkit-keyframes animateTime {
  0% {
    color: white;
  }
  50% {
    color: #8f8e8e;
  }
  100% {
    color: white;
  }
}

@keyframes animateTime {
  0% {
    color: white;
  }
  50% {
    color: #8f8e8e;
  }
  100% {
    color: white;
  }
}

.text2 {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.input {
  display: block;
  outline: none;
  width: 20vw;
  height: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  color: #9b021c;
}

.input:disabled {
  background-color: white;
}

.block {
  color: white;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.row {
  color: white;
  font-size: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
  -webkit-transition: 1s;
  transition: 1s;
  text-transform: uppercase;
  cursor: pointer;
}

.row:not(:last-child) {
  margin-right: 50px;
}
